:root {
	--very-light-gray:#C7C7C7;
	--text-input-field: #F7F7F7;
	--hospital-green: #ACD982;
	--very-light-blue:#bad7f1;
	--white: #FFFFFF;
	--black: #000000;
	--ss: 1.2rem;
	--sm: 1.4rem;
	--md: 1.5rem;
	--lg: 1.8rem;
}

.container__icono-menu {
    display: none;
}

nav #menu-principal {
    position: static;
    display: flex;
    font-size: var(--md);
    justify-content: space-between;
    list-style: none;
    visibility: visible;
    align-items: center;
}

nav #menu-principal li{
	padding: 0.8rem;
}

nav #menu-principal a{
	text-decoration: none;
	color: var(--very-light-gray);
	border: 1px solid var(--white);
    transition: 0.1s all;
}

nav #menu-principal a:hover {
	color: var(--hospital-green);
    box-shadow: 0 -0.1875rem var(--hospital-green) inset;
}

