/* .container__icono-menu {
    display: none;
}

nav #menu-principal {
    position: static;
    justify-content: space-between;
    visibility: visible;
    align-items: center;
    margin-right: 3rem;
}

nav #menu-principal li{
	padding: 0.8rem;
} */

main {
    height: 55rem
}

main nav {
    width: 35rem;
    padding-left: 0;
    margin-left: calc((100% - 560px) / 2);
}

.vertical {
    line-height: 7rem;
    margin-top: 2rem;
}

.vertical_3 {
    position: absolute;
    left: 25rem;
    top: 0rem;
    line-height: 7rem;
}

/* .contact-info h2 {
    margin-left: 9rem;
}

.contact-info p {
    margin-left: 9rem;
}

.personal-logo img {
    width: 15rem;
    height: 15rem;
} */
