* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	/*font-family: 'Quicksand', sans-serif;*/
    font-family: 'Roboto Condensed', sans-serif;
	font-size: 62.5%;
}

:root {
	--very-light-gray:#d8d6d6;
	--text-input-field: #F7F7F7;
	--hospital-green: #ACD982;
	--very-light-blue:#e9f1f8;
	--dark-blue: #252C5A;
	--white: #FFFFFF;
	--black: #000000;
	--medium-blue: #048ba3;
	--kind-pink: #f7e8e3;
	--dark-pink:  #f8879a;
	--background: #fcf9f9;

	--rojo-granate: #AB2A3E;
	--verde-planta: #7eab2a;
	--verde-azulado: #2aab97;
	--morado-brillante: #562aab;
	--azul-brillante: #2a3eab;
	--granate-oscuro: #401017;

	--granate-claro: #b73d4b;

	--ss: 1.2rem;
	--sm: 1.4rem;
	--md: 1.5rem;
	--lg: 2rem;
	--xlg: 2.4rem;
	--xxlg: 3.5rem;
	--xxxlg: 5.5rem;
}

main {
	width: 100%;
	font-size: var(--sm);
}

section {
	padding: 4rem 0;
}

h1 {
	padding: 0 1rem;
	font-family: 'Dancing Script', cursive;
	text-align: center;
	font-weight: bold;
	font-size: var(--xlg);
	margin-bottom: 2rem;
	color: var(--white);
}

h2 {
	padding: 1rem;
}

div {
	width: 30rem;
	margin: 0 auto;
}

h2, p, select {
	text-align: center;
}

p {
	margin-top: 1rem;
}

table {
	margin: 0 auto;
}

table {
	border-collapse: collapse;
}

table tr {
	height: 2rem;
}


/* Hero */

.info-edificio-container {
	width: 100%;
	height: 32rem;
	position: relative;
	font-family: 'Dancing Script', cursive;
	background-color: var(--granate-oscuro);
	background-image: url('./img/building-landscape-small.png');
	background-position: center;
    background-repeat: no-repeat;
	background-size: contain;
}

.info-edificio p {
	font-weight: bold;
	color: gray;
	font-size: var(--lg);
	margin-top: 0.5rem;
}

/* Cuotas de Condominio */

#cuotas_condominio_container div {
	border-top: 0.2rem solid var(--rojo-granate);
	margin-top: 0.5rem;
	padding-top: 2rem;
}

.tabla-cuotas-condominio td, .tabla-cuotas-condominio th {
	padding: 0.5rem;
}

.tabla-cuotas-condominio thead th {
	border: 0.1rem solid var(--white);
	font-weight: normal;
}

.tabla-cuotas-condominio thead tr:first-child th {
	border-left: 0.1rem solid var(--white);
	border-right: 0.1rem solid var(--white);
	border-top: 0.1rem solid var(--white);
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

.tabla-cuotas-condominio thead tr:nth-child(2) th:first-child {
	border-left: 0.1rem solid var(--white);
}

.tabla-cuotas-condominio thead tr:nth-child(2) th:nth-child(2) {
 	border-right: 0.1rem solid var(--white);
 }

.tabla-cuotas-condominio th {
	background-color: var(--rojo-granate);
	color: white;
}

.tabla-cuotas-condominio tbody tr td:nth-child(2) {
	text-align: end;
}


/* Información de Propietarios */

.propietarios div {
	width: 30rem;
	margin: 2rem auto;
	text-align: center;
}

.propietarios div:nth-child(2) {
	border-top: 0.2rem solid var(--verde-planta);
	padding-top: 2rem;
	margin-top: 0;
}

#filtro_busqueda {
	font-family: 'Roboto Condensed', sans-serif;
	width: 10rem;
}

#lista_propietarios {
	font-family: 'Roboto Condensed', sans-serif;
	width: 15rem;
}

#lista_propietarios_apto {
	width: 6rem;
}

.tabla-propietarios {
	background-color: var(--white);
	margin-bottom: 2rem;
}

.tabla-propietarios thead tr {
	height: 2.7rem;
}

.tabla-propietarios th, .tabla-propietarios td {
	padding: 0.5rem;
}

.tabla-propietarios thead th {
	background-color: var(--verde-planta);
	color: var(--white);
	font-weight: normal;
}

.tabla-propietarios thead tr:first-child th,
.tabla-propietarios thead tr:first-child {
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	border: 0.1rem solid var(--white);
}


.tabla-propietarios thead tr:first-child th,
.tabla-propietarios thead tr:nth-child(2) th,
.tabla-propietarios tbody tr {
	border-left: 0.1rem solid var(--white);
	border-right: 0.1rem solid var(--white);
}

.tabla-propietarios thead tr:nth-child(3) th {
	border: 0.1rem solid var(--white);
}

.tabla-propietarios tbody tr td:first-child {
	text-align: start;
}

.tabla-propietarios tbody tr td:nth-child(2), table tbody tr td:nth-child(3) {
	text-align: end;
}

.columna-mes {
	width: 7rem;
}

.fila-deuda-total {
	text-align: end;
	font-weight: bold;
}

.tabla-propietarios .fila-deuda-total td:first-child {
	text-align: end;
	color: var(--verde-planta);
}

#mes_vencido {
	font-weight: bold;
}

#boton_recibo {
	width: 20rem;
	height: 3rem;
}


/* Cuotas de Tanque Azotea */

#cuotas_azotea_container div {
	border-top: 0.2rem solid var(--verde-azulado);
}

.tabla-cuota-azotea {
	margin-top: 2rem;
	background-color: white;
}

.tabla-cuota-azotea thead th {
	border: 0.1rem solid var(--white);
	font-weight: normal;
}

.tabla-cuota-azotea tbody tr:first-child td {
	border: 0.1rem solid var(--white);
}

.tabla-cuota-azotea thead tr:first-child th {
	border-left: 0.1rem solid var(--white);
	border-right: 0.1rem solid var(--white);
	border-top: 0.1rem solid var(--white);
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}


.tabla-cuota-azotea thead tr th,
.tabla-cuota-azotea tbody tr {
	border-left: 0.1rem solid var(--white);
	border-right: 0.1rem solid var(--white);
}

.tabla-cuota-azotea thead {
	background-color: var(--verde-azulado);
	color: white;
	font-weight: normal;
}

.tabla-cuota-azotea th, .tabla-cuota-azotea td {
	padding: 0.5rem;
}

.tabla-cuota-azotea tbody tr:first-child {
	background-color: var(--verde-azulado);
	color: white;
}

.tabla-cuota-azotea tbody tr td:first-child {
	text-align: center;
}

.tabla-cuota-azotea tbody tr td:nth-child(2) {
	width: 15rem;
}

.tabla-cuota-azotea tbody tr td:nth-child(3), .tabla-cuota-azotea tbody tr td:nth-child(4) {
	text-align: end;
}

#cuerpo_tabla_deuda_azotea tr:first-child td:nth-child(2),
#cuerpo_tabla_deuda_azotea tr:first-child td:nth-child(3),
#cuerpo_tabla_deuda_azotea tr:first-child td:nth-child(4) {
	text-align: center;
}


/* Cuota de Hidrolago */

#cuotas_hidrolago_container div {
	border-top: 0.2rem solid var(--azul-brillante);
}

.tabla-cuota-hidrolago {
	margin-top: 2rem;
	background-color: var(--white);
}

.tabla-cuota-hidrolago thead, .tabla-cuota-hidrolago tbody tr:first-child {
	background-color: var(--azul-brillante);
	color: var(--white);
}

.tabla-cuota-hidrolago thead th {
	border: 0.1rem solid var(--white);
	font-weight: normal;
}

.tabla-cuota-hidrolago  th, .tabla-cuota-hidrolago  td {
	padding: 0.5rem;
}

.tabla-cuota-hidrolago thead tr:first-child th,
.tabla-cuota-hidrolago thead tr:first-child {
	border-left: 0.1rem solid var(--white);
	border-right: 0.1rem solid var(--white);
	border-top: 0.1rem solid var(--white);
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}


.tabla-cuota-hidrolago thead tr th,
.tabla-cuota-hidrolago tbody tr {
	border-left: 0.1rem solid var(--white);
	border-right: 0.1rem solid var(--white);
}

.tabla-cuota-hidrolago tbody tr:first-child td {
	border: 0.1rem solid var(--white);
}


.tabla-cuota-hidrolago tbody tr td:first-child,
.tabla-cuota-hidrolago tbody tr:first-child td:nth-child(2),
.tabla-cuota-hidrolago tbody tr:first-child td:nth-child(3),
.tabla-cuota-hidrolago tbody tr:first-child td:nth-child(4) {
	text-align: center;
}

.tabla-cuota-hidrolago tbody tr:first-child td:nth-child(2) {
	width: 14rem;
}

.tabla-cuota-hidrolago tbody tr td:nth-child(3),
.tabla-cuota-hidrolago tbody tr td:nth-child(4) {
	text-align: end;
}


/* Resumen Condominio */

.container-tabla-resumen {
	border-top: 0.2rem solid var(--morado-brillante)
}

.tabla-resumen {
	background-color: var(--white);
	margin-top: 2rem;
}

.tabla-resumen thead th {
	background-color: var(--morado-brillante);
	color: var(--white);
	font-weight: normal;
}

.tabla-resumen thead tr:first-child th,
.tabla-resumen thead tr:first-child {
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	border: 0.1rem solid var(--white);
}


.tabla-resumen thead tr:first-child th,
.tabla-resumen thead tr:nth-child(2) th,
.tabla-resumen tbody tr {
	border-left: 0.1rem solid var(--white);
	border-right: 0.1rem solid var(--white);
}

.tabla-resumen thead tr:nth-child(3) th {
	border: 0.1rem solid var(--white);
}

.tabla-resumen th, .tabla-resumen td {
	padding: 0.5rem;
}

.tabla-resumen tbody tr td:nth-child(2),
.tabla-resumen tbody tr td:nth-child(3) {
	text-align: end;
}

.tabla-resumen tbody tr:nth-child(17),
.tabla-resumen tbody tr:nth-child(22),
.tabla-resumen tbody tr:nth-child(24) {
	background-color: #eae4f4;
	font-weight: normal;
}

.tabla-resumen tbody tr:nth-child(28) {
	background-color: #eae4f4;
}

.fila-cuotas-especiales, .fila-adicionales, .fila-separador, .cuotas-especiales-cabecera td, .adicionales-cabecera td {
	text-align: center;
	background-color: var(--morado-brillante);
	color: var(--white);
	border: 0.1rem solid var(--white);
}

.fila-balance {
	text-align: end;
	font-weight: bold;
}

.fila-fondo-actual {
	font-weight: bold;
}

#fondo_actual {
	text-align: center;
}


/* Documentos de Condominio */

#documentos_container {
	padding-bottom: 4rem;
	background-color:rgb(36, 36, 36);
}

#documentos_container h2 {
	text-transform: uppercase;
	border-bottom: 0.2rem solid rgb(159, 157, 157);
	width: 30rem;
	margin: 0 auto;
	color: rgb(159, 157, 157);
}

#documentos_container div {
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin: 0;
	margin-top: 1rem;
	width: 100%;
	
}

.submenu-docs {
	margin: 0 auto;
	width: 20rem;
	border-radius: 0.5rem;
	text-align: center;
}

.submenu-docs li {
	line-height: 5rem;
	list-style: none;
}

.submenu-docs li a {
	color: rgb(159, 157, 157);
}

.submenu-docs li a:hover {
	color: var(--medium-blue);
}