* {/* El selector universal que aplica las declaraciones en todo el documento */
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
	font-size: 62.5%; /* Con esto asigno al tamaño de fuente del html el valor de 10px, por lo que de ahora en adelante, 1rem = 10px */
}

:root {
	--very-light-gray:#C7C7C7;
	--text-input-field: #F7F7F7;
	--hospital-green: #ACD982;
	--very-light-blue:#bad7f1;
	--white: #FFFFFF;
	--black: #000000;
	--ss: 1.2rem;
	--sm: 1.4rem;
	--md: 1.5rem;
	--lg: 1.8rem;
}

h1 {
	font-size: 2.2rem;
}

h2 {
	font-size: 2rem;
}

header, h1, h2 {
	margin-top: 1rem;
	text-align: center;
}

ol {
	font-size: 1.8rem;
	margin: 1rem 2rem 2rem;
}

ol li {
	margin-left: 1.5rem;
	line-height: 4rem;
}

ol ul li {
	list-style: disc;
}

.sub-bullet li {
	list-style:circle;
}

button {
	height: 3rem;
	background-color: var(--hospital-green);
	border: 0.1rem solid var(--hospital-green);
	border-radius: 0.8rem;
	cursor: pointer;
	color: white;
	font-weight: bold;
	padding: 0.5rem;
}

.limpiar-radios {
	background-color: var(--white);
	margin-left: 0.5rem;
}


