/* header > .header-logo-container {
margin-left: 5rem;
}

nav #menu-principal {
    font-size: var(--md);
    margin-right: 10rem;
}

nav #menu-principal a:hover {
	color: var(--very-light-gray);
} */

p {
    font-size: 1.6rem;
}

.introduction {
    height: 40rem;
}

.introduction-left h1 {
    margin-top: 5rem;
}

.introduction-left button {
    font-weight: 700;
}

.introduction-right img{
    width: 24.4rem;
    height: 30rem;
}

.casing-design iframe {
    width: 56rem;
    height: 30.15rem;
}

.planetageek-webpage img {
    display: inline-block;
    width: 56rem;
    height: 26.67rem;
}

.videojuegos iframe {
    width: 56rem;
    height: 30.15rem;
}

.admin-condo iframe {
    width: 56rem;
    height: 30.15rem;
}

.lenin-caraballo iframe {
    width: 56rem;
    height: 30.15rem;
}

.dolce-vita img {
    display: inline-block;
    width: 56rem;
    height: 26.67rem;
}

.justified-left {
    padding-left: 8rem;
    padding-right: 45rem;
}

.justified-left h1 {
    font-size: 3rem;
}

.justified-right {
    width: 100%;
    padding-right: 8rem;
    padding-left: 45rem;
}

.justified-right h1 {
    font-size: 3rem;
}

/* footer {
    height: 25rem;
}

.contact {
    visibility: visible;
    position: static;
    display: flex;
    align-items: center;
}

.contact, .contact-info, .personal-logo {
    width: 33.3%;
}

.contact h1 {
    font-size: 3rem;
    color: var(--white);
    margin-left: 8rem;
}

.contact p {
    margin-top: 1rem;
    color: var(--white);
    margin-left: 8rem;
}

.contact button {
    background-color: var(--hospital-green);
    border: 0.1rem solid  var(--hospital-green);
    color: var(--dark-blue);
    font-size: 1rem;
    font-weight: 900;
    height: 4rem;
    width: 15rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.contact button:active {
    background-color: var(--white);
}

.contact-info h2 {
    color: var(--hospital-green);
    margin-left: 12rem;
}

.contact-info p {
    margin-left: 12rem;
    color: var(--white);
}

.personal-logo img {
    width: 18rem;
    height: 18rem;
} */