/* .container__icono-menu {
    display: none;
}

nav #menu-principal {
    position: static;
    justify-content: space-between;
    visibility: visible;
    align-items: center;
    margin-right: 3rem;
}

nav #menu-principal li{
	padding: 0.8rem;
} */

.introduction {
    height: auto;
    background-size: 90% 90%;
}

.introduction-left {
    padding-left: 8rem;
}

.introduction-left h1 {
    font-size: 3.5rem;
}

.introduction-left h2 {
    font-size: 2rem;
}

.introduction-left p:nth-child(2), .introduction-left p:nth-child(3) {
    visibility: visible;
    position: static;
}

.introduction-right img{
    width: 16.3rem;
    height: 20rem;
}

.justified-left {
    padding-right: 30rem;
}

.justified-right {
    padding-left: 30rem;
}

/* .contact-info h2 {
    margin-left: 8rem;
}

.contact-info p {
    margin-left: 8rem;
}

.personal-logo img {
    width: 15rem;
    height: 15rem;
} */