* {/* El selector universal que aplica las declaraciones en todo el documento */
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
	font-size: 62.5%; /* Con esto asigno al tamaño de fuente del html el valor de 10px, por lo que de ahora en adelante, 1rem = 10px */
}

:root {
	--very-light-gray:#C7C7C7;
	--text-input-field: #F7F7F7;
	--hospital-green: #ACD982;
	--very-light-blue:#bad7f1;
	--white: #FFFFFF;
	--black: #000000;
	--ss: 1.2rem;
	--sm: 1.4rem;
	--md: 1.5rem;
	--lg: 1.8rem;
}

header {
	background-color: var(--white);
	position: sticky;
	top: 0rem;
	height: 10vh;
	width: 100%;
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--very-light-gray);
}

.logo-personal {
    height: 8vh; /*Un poco más pequeño que el header*/
	margin-left: 2rem;
}

header nav {
	height: 100%;
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
	align-items: center;
}

.icono-menu:hover {
	cursor: pointer;
}

.container__icono-menu {
	position: relative;
	right: 0;
}

.icono-menu {
	position: absolute;
	margin-top: 0;
	right: 0rem;
	top: -2rem;
	margin-right: 1rem;
	height: 6vh;
}

.container__menu-principal, .container__icono-menu, .container__logo-personal {
	margin: 0;
}

nav #menu-desplegable {
    position: absolute;
	list-style: none;
    visibility: hidden;
	font-size: var(--sm);
	right: 0rem;
	top: -23rem;
	background-color: var(--hospital-green);
	transition: 0.5s ease all;
}

.container__icono-menu:hover > #menu-desplegable {
	visibility: visible;
	top: -3rem;
}

nav #menu-desplegable li {
	line-height: 3rem;
	border: 0.1rem solid var(--white);
}

nav #menu-desplegable li:last-child {
	margin-bottom: 0;
}

nav #menu-desplegable a {
	text-decoration: none;
	display: block;
	color: white;
	padding: 1rem;
}

nav #menu-desplegable a:active {
	background-color: white;
	color: var(--hospital-green);
}

nav #menu-principal {
	position: absolute;
	visibility: hidden;
	right: 0;
}

main {
	width: 100%;
}

section {
	margin: 1rem auto;
	border: 0.1rem solid var(--hospital-green);
	border-radius: 0.8rem;
	max-width: 30rem;
	padding-bottom: 1rem;
}

p, h2, form {
	margin: 1rem auto 0;
	padding: 0 2rem;
    max-width: 30rem;
    text-align: justify;
}

h1 {
  width: 100%;
  margin-top: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--md);
}

h2 {
    margin-top: 2rem;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: var(--sm);
}

label, p, form {
	font-size: var(--ss);
}

form {
	text-align: center;
}

form input {
	margin: 0 0.5rem;
}

.nombre-rev {
	width: 25rem;
	height: 3.2rem;
}

.input-number {
	width: 25rem;
	height: 3.2rem;
	border-radius: 0.8rem;
	border: 0.1rem solid var(--hospital-green)
}

button {
	height: 3rem;
	background-color: var(--hospital-green);
	border: 0.1rem solid var(--hospital-green);
	border-radius: 0.8rem;
	cursor: pointer;
	color: white;
	font-weight: bold;
	padding: 0.5rem;
}

button:active {
	color: gray;
	background-color: var(--white);
	border: 0.1rem solid var(--very-light-gray);
}

.limpiar-radios {
	background-color: var(--white);
}

.limpiar-radios:active {
	background-color: var(--hospital-green);
}

.container-button {
	text-align: center;
}

.tipo-rev {
	text-align: justify;
}

.tipo-conexion {
	height: 3.2rem;
	width: 25rem;
}

table, th, td, tr {
	border: 0.1rem solid black;
	border-collapse: collapse;
}

table {
    margin: 1rem auto 2rem;
}

.tabla td {
    width: 7rem;
}

table select {
    width: 7rem;
}

.tabla tr > td:first-child {
    width: 10rem;
    text-align: center;
}

.tabla thead tr th:nth-child(2),
.tabla thead tr th:nth-child(3),
.tabla thead tr th:nth-child(4) {
	background-color: var(--hospital-green);
}

.tabla thead tr th:first-child {
	border-top: 0.1rem solid white;
	border-left: 0.1rem solid white;
}