/* .container__icono-menu {
    display: none;
}

nav #menu-principal {
    position: static;
    justify-content: space-between;
    visibility: visible;
    align-items: center;
    margin-right: 3rem;
}

nav #menu-principal li{
	padding: 0.8rem;
} */

#menu-secundario {
	margin-right: 3rem;
}

.hoja-datos, main h2, form {
    max-width: 50rem;
}

form {
	display: flex;
	justify-content: center;
}

.hoja-datos p:nth-child(2), .hoja-datos p:nth-child(4) {
	text-align:center
}

.tabla td {
    width: 10rem;
}

table select {
    width: 10rem;
}

.tabla tr > td:first-child {
    width: 20rem;
    text-align: center;
}

/* .contact-info h2 {
    margin-left: 9rem;
}

.contact-info p {
    margin-left: 9rem;
}

.personal-logo img {
    width: 15rem;
    height: 15rem;
} */