/* .container__icono-menu {
    display: none;
}

nav #menu-principal {
    position: static;
    justify-content: space-between;
    visibility: visible;
    align-items: center;
    margin-right: 3rem;
}

nav #menu-principal li {
	padding: 0.8rem;
} */

#menu-secundario {
	margin-right: 3rem;
}

.seccion_estallido > div,
.seccion_colapso > div,
.seccion_tension > div,
.seccion_biaxial > div,
.seccion_FD > div {
	max-width: 80rem;
}

.avisos_estallido {
    width: 55rem;
}

.avisos_colapso {
	width: 55rem;
}

#div2T .avisos_tension {
    width: 55rem;
}

.disenoT td {
	width: 11rem;
}

#div2T p:nth-child(8) {
	width: 60rem;
    text-align: center;
}

.tensionyesfuerzo td {
	width: 11rem;
}

.tabla_valores_elipse td {
	width: 14rem;
}

.porcentajesycorrecciones td {
	width: 11rem;
}

.factoresDiseno td {
	min-width: 9rem;
}

#obsup, #obfon {
    min-width: 54rem;
}

.contact-info h2 {
    margin-left: 9rem;
}

.contact-info p {
    margin-left: 9rem;
}

.personal-logo img {
    width: 15rem;
    height: 15rem;
}