* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
	font-size: 62.5%; /* Con esto asigno al tamaño de fuente del html el valor de 10px, por lo que de ahora en adelante, 1rem = 10px */
}

:root {
	--very-light-gray:#C7C7C7;
	--text-input-field: #F7F7F7;
	--hospital-green: #ACD982;
	--very-light-blue:#bad7f1;
	--white: #FFFFFF;
	--black: #000000;
	--ss: 1.2rem;
	--sm: 1.4rem;
	--md: 1.5rem;
	--lg: 1.8rem;
}

main {
	margin: 0 2rem 0;
}

h1 {
	font-size: 2.2rem;
}

h2 {
	font-size: 2rem;
	/* width: 50rem; */
	margin: 3rem auto 0;
	text-align: center;
}

header, h1 {
	margin-top: 1rem;
	text-align: center;
}

ol {
	font-size: 1.8rem;
	/* margin-left: 2rem; */
	margin-bottom: 2rem;
}

ol li {
	margin-left: 1.5rem;
	line-height: 4rem;
}

ol ul li {
	list-style: disc;
}

.sub-bullet li {
	list-style:circle;
}