/* REDUCCIÓN DE LONGITUD DE LOS INPUT NUMBER */
  /* CONDUCTOR */
  #PRC {
    width: 5em;
    }
    /* SUPERFICIAL */
  #PRS {
    width: 5em;
    }
    /* SUPERFICIAL II */
  #PRSII {
    width: 5em;
    }
    /* INTERMEDIO */
  #PRi {
    width: 5em;
    }
    /* INTERMEDIO II */
  #PRiII {
    width: 5em;
    }
    #PColgiII {
    width: 5em;
    }
    /* PRODUCCIÓN */
  #PRP {
    width: 5em;
    }
    #PColgP {
    width: 5em;
    }
    /* PRODUCCIÓN II */
  #PRPII {
    width: 5em;
    }
    #PColgPII {
    width: 5em;
    }