* /* El selector universal que aplica las declaraciones en todo el documento */
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	font-family: 'Arial Narrow', Verdana, Helvetica,'Times New Roman', Arial;
	font-size: 62.5%; /* Con esto asigno al tamaño de fuente del html el valor de 10px, por lo que de ahora en
	adelante, 1rem = 10px */
}

body{
	/*background-image: url("C:/Users/Kelly/Documents/MANUEL/PROGRAMACIÓN/EJERCICIOS PROPIOS/fondo7.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-size: 100rem;*/
	/*background: #D4E6F1;*/
	background-color: #ddd;
	/*color: #ddd;*/
	/*background: #252528;*/
}

header{
	margin-top: 1rem;
	text-align: right;
	padding-right: 1rem;
}

main{
	/*display: inline-flex;*/
}

section{
	/*width: 100rem;*/
	outline: 1px solid green;
	margin: 0 auto;
	font-size: 1.3rem;
}

p, h1, table, section{
	margin-top: 1rem;
}

h1{
  /*margin-top: 2rem;
  /*font-size: 4rem;*/
  text-align: center;
  text-transform: uppercase;
  /*margin-bottom: 2rem;*/
}

table, th, td, tr{
	border: 0.1rem solid black;
	border-collapse: collapse;
	/*font-weight: normal;*/
}

input, span{
	font-size: 1.6rem;
}

canvas{
	outline: 1px solid blue;
}


/* CÓDIGO PARA EL LINK DE INSTRUCCIONES QUE ABRIRÁ OTRA VENTANA */

.ventana_secundaria{
	font-size: 2rem;
	margin-top: 2rem;
	text-decoration: none;
	color: blue;
	font-weight: bold;
	padding-left: 3rem;
	outline: 1px solid pink;
}


/* CÓDIGO PARA LOS DATOS DE MÁRGENES */

.margenes{
	/*font-size: 2.3rem;*/
	width: 16rem;
	outline: 1px solid red;
	margin: 0 auto;
	text-align: center;
}

.margenes input{
	width: 14rem;
}

/* CÓDIGO PARA LA TABLA DE DATOS */

.tabla_de_valores{
	text-align: center;
}

#datos{
	margin-top: 1rem;
}

.datos{
	margin: 0 auto;
	/*outline: 5px solid gray;*/
}

.datos th,td{
	/*width: 10rem;*/
	text-align: center;
}

.cabecera_tabla{
	background: #3390FF;
	color: white;
}

.cabecera_tabla th{ /* Le asigno un ancho a todas las columnas del encabezado de la tabla */
	width: 10rem;
}

.datos td:nth-child(4), th:nth-child(4){
	width: 1rem; /* Le asigno un ancho específico a una columna específica, superponiendo la orden
	general anterior */
	background-color: black; 
}

.cabecera_tabla > tr {
	line-height: 2rem;
	/*font-size: 2rem;*/
}


#cuerpotabla{
	/*background: #D3D3D3;*/
}

#cuerpotabla input {
	border: 0; /* Quita el borde de todos los inputs del body de la tabla */
	width: 10rem;
	/*background: #D3D3D3;*/
}


.grafica{
	text-align: center;
	/*display: inline-flex;*/
}

.graphycs{
	text-align: center;
	display: inline-flex;
}

.opciones_graf{
	outline: 1px solid black;
}

.datos_auto{
	outline: 1px solid green;
	margin: auto auto;
}

.subdatos_auto{
	width: 15rem;
	margin: 0 auto;
	outline: 1px solid black;
}

.subdatos_auto input{
	width: 15rem;
}

#botoncito:hover{
	background: white;
}

/* CÓDIGO PARA EL CANVAS */

#canvas{
	/*text-align: center;*/
	outline: 1px solid red;
}


/* CÓDIGO PARA EL PÁRRAFO DE INSTRUCCIONES PARA TRAZAR LÍNEAS */

#instruccion2{
	text-transform: uppercase;
	/*text-align: center;*/
}


/* CÓDIGO PARA LA TABLA DE TRAZAR LÍNEAS (1º PARTE) */

.div_tablas{
	/*width: 90rem;*/
	outline: 1px solid yellow;
	/*margin-left: auto;
	margin-right: auto;*/
	margin: auto;
}

.tabla_rev{
	margin-top: 1rem;
}

#tabla_rev{
	margin: 0 auto;
}

#tabla_rev td{
	width: 7rem;
}

.tabla_rev_fila1 td{
	background: #3390FF;
	color: white;
	font-weight: bold;
}

.coord{
	width: 10rem;
}

.tabla_lineas_manuales{
	margin: 0 auto;
}

.ajuste_int, .ajuste_sup{
	margin: 0 auto;
	width: 100%;
	outline: 1px solid blue;
	text-align: center;
	display: inline-flex;
	height: 40rem;
}

.ajuste_int1, .ajuste_sup1{
	outline: 1px solid brown;
	width: 30%;
}

.ajuste_int2, .ajuste_sup2{
	width: 70%;
	text-align: justify;
	/*height: 40rem;*/
}


