/* .container__icono-menu {
    display: none;
}

nav #menu-principal {
    position: static;
    justify-content: space-between;
    visibility: visible;
    align-items: center;
    margin-right: 3rem;
}

nav #menu-principal li{
	padding: 0.8rem;
} */

#menu-secundario {
	margin-right: 3rem;
}

.calculos {
    max-width: 65rem;
}

.cabecera_tabla th{ /* Le asigno un ancho a todas las columnas del encabezado de la tabla */
    width: 9rem;
}

.container-botones-filas { /* Hacer el div del mismo ancho que la tabla */
	width: 54.4rem;
}

.datos td:nth-child(4), th:nth-child(4){
    width: 1rem; /* Le asigno un ancho específico a una columna específica, superponiendo la orden general anterior */
}
#cuerpotabla input {
    border: 0;
    width: 9rem; /* Mismo tamaño de la cabecera*/
}
#tabla_rev td{
    width: 7rem;
}

.container-aviso-num-rev {
	width: 35rem;
}

.coord{
	width: 10rem;
}

/* .contact-info h2 {
    margin-left: 9rem;
}

.contact-info p {
    margin-left: 9rem;
}

.personal-logo img {
    width: 15rem;
    height: 15rem;
} */
