header > div {
    margin-left: 5rem;
}
    
nav #menu-principal {
    margin-right: 10rem;
}

nav #menu-principal a {
	font-size: var(--md);
}
    
nav #menu-principal a:hover, #menu-secundario a:hover {
    color: var(--very-light-gray);
}

#menu-secundario {
	margin-right: 10rem;
}

#menu-secundario a {
	font-size: var(--md);
}

.calculos {
    max-width: 80rem;
}

#eliminar_fila, #agregar_fila {
	background-color: var(--white);
	border: 0.1rem solid var(--hospital-green);
	color: gray;
}

#agregar_fila:hover, #eliminar_fila:hover {
	background-color: var(--hospital-green);
}

#agregar_fila:active, #eliminar_fila:active { /* active tiene que ir despues del hover para que funcione */
	color: var(--white);
	background-color: var(--very-light-gray);
	border: 0.1rem solid var(--very-light-gray);
}

#botoncito, #borrar_curvas {
	background-color: var(--white);
	border: 0.1rem solid var(--hospital-green);
	color: gray;
}

#botoncito:hover, #borrar_curvas:hover {
	background-color: var(--hospital-green);
}

#botoncito:active, #borrar_curvas:active { /* active tiene que ir despues del hover para que funcione */
	color: var(--white);
	background-color: var(--very-light-gray);
	border: 0.1rem solid var(--very-light-gray);
}

#mostrar_ocultar_auto:hover, #mostrar_ocultar_manual:hover {
	background-color: var(--hospital-green);
}

#lineas_auto, #deshacer, #deshacer2 {
	background-color:  var(--white);
	border: 0.1rem solid var(--hospital-green);
	color: gray;
}

#lineas_auto:hover, #deshacer:hover, #deshacer2:hover {
	background-color: var(--hospital-green);
}

#lineas_auto:active, #deshacer:active, #deshacer2:active { /* active tiene que ir despues del hover para que funcione */
	color: var(--white);
	background-color: var(--very-light-gray);
	border: 0.1rem solid var(--very-light-gray);
}

.tabla_lineas_manuales button:hover {
	background-color: var(--hospital-green);
}

.ajuste_int, .ajuste_sup {
	display: flex;
}

.ajuste_int1, .ajuste_sup1 {
	width: 30%;
}

.ajuste_int2, .ajuste_sup2 {
    flex-grow: 1;
}

.ajuste_int1 p, .ajuste_sup1 p {
	width: 20rem;
	margin-left: auto;
	margin-right: auto;
}

.ajuste_int1 h2, .ajuste_sup1 h2 {
	width: 20rem;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

.ajuste_int1 input, .ajuste_sup1 input {
	width: 20rem;
}

#resultadoI, #resultadoS {
	max-width: 50rem;
}

#boton_ajuste_int, #boton_ajuste_sup {
	background-color: var(--white);
	border: 0.1rem solid var(--hospital-green);
	color: gray;
}

#boton_ajuste_int:hover, #boton_ajuste_sup:hover {
	background-color: var(--hospital-green);
}

#boton_ajuste_int:active, #boton_ajuste_sup:active { /* active tiene que ir despues del hover para que funcione */
	color: var(--white);
	background-color: var(--very-light-gray);
	border: 0.1rem solid var(--very-light-gray);
}

footer {
    height: 25rem;
}

footer p {
	font-size: 1.6rem;
}

.contact {
    visibility: visible;
    position: static;
    display: flex;
    align-items: center;
}

.contact, .contact-info, .personal-logo {
    width: 33.3%;
}

.contact h1 {
    font-size: 3rem;
    color: var(--white);
    margin-left: 8rem;
}

.contact p {
    margin-top: 1rem;
    color: var(--white);
    margin-left: 8rem;
}

.contact button {
    background-color: var(--hospital-green);
    border: 0.1rem solid  var(--hospital-green);
    color: var(--dark-blue);
    font-size: 1rem;
    font-weight: 900;
    height: 4rem;
    width: 15rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.contact button:active {
    background-color: var(--white);
}

.contact-info h2 {
    color: var(--hospital-green);
    margin-left: 12rem;
}

.contact-info p {
    margin-left: 12rem;
    color: var(--white);
}

.personal-logo img {
    width: 18rem;
    height: 18rem;
}




