* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Quicksand', sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 62.5%;
}

:root {
  --ancho-estallido-1: 25rem;
  --ancho-graficos-estycol: 38rem;
  --ancho-colapso-1: 25rem;
  --ancho-elipse: 85rem; /*68.4rem*/
  --ancho-tension-1: 19rem;
  --ancho-menu: 15rem;
  --alto-menu: 1.5rem;
  --very-light-gray:#C7C7C7;
  --text-input-field: #F7F7F7;
  --hospital-green: #ACD982;
  --very-light-blue:#bad7f1;
  --dark-blue: #252C5A;
  --white: #FFFFFF;
  --black: #000000;
  --ss: 1.2rem;
  --sm: 1.4rem;
  --md: 1.5rem;
  --lg: 1.8rem;
}

header {
	width: 100%;
	height: 6.2rem;
	display: flex;
	background-color: var(--dark-blue);
}
  
header > div {
	width: 20rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
  
header > div a {
	width: 14rem;
	height: 4.7rem;
}
  
header > div img {
	width: 100%;
	height: 100%;
}
  
header nav {
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
	align-items: center;
}
  
.container__icono-menu {
	position: relative;
	right: 0;
}
  
.bi-list {
	position: absolute;
	margin-top: 0;
	right: 0rem;
	top: -2rem;
	margin-right: 1rem;
}
  
.bi-list:hover {
	cursor: pointer;
}
  
.container__menu-principal, .container__icono-menu, .container__logo-personal {
	margin: 0;
}
  
nav #menu-desplegable {
	position: absolute;
	list-style: none;
	visibility: hidden;
	font-size: var(--sm);
	right: 0rem;
	top: -23rem;
	background-color: var(--dark-blue);
	border: 0.1rem solid var(--white);
	transition: 0.5s ease all;
}
  
.container__icono-menu:hover > #menu-desplegable {
	visibility: visible;
	top: -4rem;
}
  
nav #menu-desplegable li {
	line-height: 3rem;
	border: 0.05rem solid var(--white);
	display: block;
	width: 15rem;
}
  
nav #menu-desplegable li:last-child {
	margin-bottom: 0;
}
  
nav #menu-desplegable a {
	text-decoration: none;
	display: block;
	color: white;
	padding: 1rem;
}
  
nav #menu-desplegable a:active {
	background-color: white;
	color: var(--dark-blue);
}
  
nav #menu-principal {
	position: absolute;
	visibility: hidden;
	display: flex;
	right: 0;
	list-style: none;
}
  
nav #menu-principal a {
	color: var(--white);
	text-decoration: none;
	font-weight: bold;
	font-size: var(--ss);
}

.container__menu-secundario {
	margin: 0;
	height: 2rem;
	width: 100%;
	display: flex;
	justify-content: right;
	align-items: center;
	border-bottom: 0.1rem solid var(--hospital-green);
}

#menu-secundario {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#menu-secundario li {
	list-style: none;
}

#menu-secundario a {
	text-decoration: none;
	list-style: none;
	margin-right: 1rem;
	display: block;
	color: var(--hospital-green);
	font-size: var(--ss);
}

main {
	width: 100%;
}

main h1 {
	text-align: center;
	margin-top: 2rem;
}

table, th, tr, td {
	border: 0.1rem solid black;
	border-collapse: collapse;
	font-weight: normal;
}

main div {
	font-size: 1.3rem;
}

main p, main h2, table, main section {
	margin-top: 1rem;
}

main h2 {
	text-align: center;
	text-transform: uppercase;
}

main h2 + p {
	text-align: center;
	font-size: var(--ss);
}

select {
	margin-top: 0.2rem;
}

input {
	margin-top: 0.2rem;
}


/***************** Estallido *********************/

#mostrar_ocultar_SE {
	width: var(--ancho-menu);
	height: var(--alto-menu);
	text-transform: uppercase;
	border: 0.1rem solid var(--hospital-green);
	border-radius: 0.8rem;
	background-color: var(--hospital-green);
}

#mostrar_ocultar_SE:active {
	background-color: var(--very-light-gray);
}

.seccion_estallido > div {
	text-align: center;
	margin: 1rem auto 0;
	width: 97%;
	min-width: 31rem;
	max-width: 50rem;
	border: 0.3rem solid var(--hospital-green);
	border-radius: 0.8rem;
}


/* 1 div */

.datos_estallido .tituloE {
	font-weight: bold;
	text-transform: uppercase;
	width: 80%;
	text-align: center;
}

.datos_estallido p {
	width: 25rem;
	margin: 1rem auto 0;
	text-align: justify;
}

.datos_estallido p:nth-child(7) {
	text-align: center;
}

.datos_estallido input {
	width: var(--ancho-estallido-1);
	height: 3.2rem;
	border-radius: 0.8rem;
	background-color: var(--text-input-field);
	border: none;
}

.datos_estallido select {
	width: var(--ancho-estallido-1);
	height: 3.2rem;
}

#calculo_tabla_diseno {
	width: 2.5rem
}

.disenoE {
	margin-left: auto;
	margin-right: auto;
}

.disenoE th {
	padding: 0.2rem 0.2rem;
	text-align: center;
	background: var(--hospital-green);
}

.disenoE tbody tr:first-child {
	background: var(--hospital-green);
}

.disenoE td {
	padding: 0.2rem 0.2rem;
	text-align: center;
}

.datos_estallido p:nth-child(9) {
	margin-bottom: 1rem;
}

#aviso_falla_colapso2 {
	color:red;
	font-weight: bold;
}


/* 2 div */

.opciones_graf_est p {
	width: 25rem;
	margin: 1rem auto 0;
	text-align: justify;
}

.opciones_graf_est p:first-child {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.opciones_graf_est p input {
	width: var(--ancho-estallido-1);
	height: 3.2rem;
	border-radius: 0.8rem;
	background-color: var(--text-input-field);
	border: none;
}

.parrafo_boton_estallido {
	text-align: center;
}

#boton_diseno {
	height: 2.5rem;
	width: 2.5rem;
}

#boton_borrar_diseno {
	width: 2.5rem;
}

#mostrar_ocultar_EC {
	width: 2.5rem;
}

.disenoEC {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
}

.disenoEC th {
	padding: 0.2rem 0.2rem;
	text-align: center;
	background-color: var(--hospital-green);
}

.disenoEC tbody tr:first-child {
	background-color: var(--hospital-green);
}

.disenoEC td {
	padding: 0.2rem 0.2rem;
	text-align: center;
}



/************ Colapso ***************/

#mostrar_ocultar_SC {
	width: var(--ancho-menu);
	height: var(--alto-menu);
	text-transform: uppercase;
	border: 0.1rem solid var(--hospital-green);
	border-radius: 0.8rem;
	background-color: var(--hospital-green);
}

#mostrar_ocultar_SC:active {
	background-color: var(--very-light-gray);
}

.seccion_colapso > div {
	text-align: center;
	margin: 1rem auto 0;
	width: 97%;
	min-width: 31rem;
	max-width: 50rem;
	border: 0.3rem solid var(--hospital-green);
	border-radius: 0.8rem;
}


/* 1 div */

.datos_colapso .tituloC {
	font-weight: bold;
	text-transform: uppercase;
	width: 80%;
	text-align: center;
}

.datos_colapso p {
	width: 25rem;
	margin: 1rem auto 0;
	text-align: justify;
}

.datos_colapso p:nth-child(11) {
	margin-bottom: 1rem;
}

.datos_colapso input[type="number"] {
	width: var(--ancho-estallido-1);
	height: 3.2rem;
	border-radius: 0.8rem;
	background-color: var(--text-input-field);
	border: none;
}

.datos_colapso input[type="number"]:disabled {
	/* background: rgb(238, 235, 235); */
	background: white;
}

#topeLodo {
	background-color: var(--white);
	width: var(--ancho-estallido-1);
	height: 3.2rem;
	border-radius: 0.8rem;
	display: flex;
	align-items: center;
	padding-left: 0.5rem;
	font-size: 1.4rem;
}

.parrafo_boton_colapso {
	display: flex;
	justify-content: center;
}

#boton_tablaC {
	width: 2.5rem;
}

.disenoC {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
}

.disenoC th {
	padding: 0.2rem 0.1rem;
	text-align: center;
	background-color: var(--hospital-green);
}

.disenoC tbody tr:first-child {
	background-color: var(--hospital-green);
}

.disenoC td {
	padding: 0.2rem 0.1rem;
	text-align: center;
}

/* 2 div */

.opciones_graf_col p {
	width: 25rem;
	margin: 1rem auto 0;
	text-align: justify;
}

.opciones_graf_col input {
	width: var(--ancho-estallido-1);
	height: 3.2rem;
	border-radius: 0.8rem;
	background-color: var(--text-input-field);
	border: none;
}

#boton_grafica_colapso, #boton_borrar_disenoC, #mostrar_ocultar_CC {
	width: 2.5rem;
}

.avisos_colapso {
	margin: 0 auto 1rem;
	text-align: left;
	font-weight: bold;
	min-height: 1rem;
	width: var(--ancho-estallido-1);
}

#aviso_apto_colapso {
	color: green;
	width: 100%;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
}

#aviso_falla_colapso, #aviso_falla_colapsoCorregido {
	color:red;
	width: 100%;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
}

.disenoCC {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
}

.disenoCC th {
	padding: 0.2rem 0.2rem;
	text-align: center;
	background-color: var(--hospital-green);
}

.disenoCC tbody tr:first-child {
	background-color: var(--hospital-green);
}

.disenoCC td {
	padding: 0.2rem 0.2rem;
	text-align: center;
}


/************* Tensión ***************/

.seccion_tension > div {
	text-align: center;
	margin: 1rem auto 0;
	width: 97%;
	min-width: 31rem;
	max-width: 50rem;
	border: 0.3rem solid var(--hospital-green);
	border-radius: 0.8rem;
}

.datos_tension input[type="number"] {
	width: var(--ancho-estallido-1);
	height: 3.2rem;
	border-radius: 0.8rem;
	background-color: var(--text-input-field);
	border: none;
}

#mostrar_ocultar_ST {
	width: var(--ancho-menu);
	height: var(--alto-menu);
	text-transform: uppercase;
	border: 0.1rem solid var(--hospital-green);
	border-radius: 0.8rem;
	background-color: var(--hospital-green);
}

#mostrar_ocultar_ST:active {
	background-color: var(--very-light-gray);
}


/* 1 div */

.datos_tension .tituloT {
	font-weight: bold;
	text-transform: uppercase;
	width: 80%;
	text-align: center;
}

.datos_tension p {
	width: 25rem;
	margin: 1rem auto 0;
	text-align: justify;
}

#letra_grado_cond {
	width: 3.5rem;
	height: 3.2rem;
}

#num_grado_cond {
	width: 20.58rem;
}

#puntoNeutro, #resisT {
	background-color: var(--white);
	width: var(--ancho-estallido-1);
	height: 3.2rem;
	border-radius: 0.8rem;
	display: flex;
	align-items: center;
	padding-left: 0.5rem;
	font-size: 1.4rem;
}

.diseno_grafica_tension {
	text-align: center;
}

.diseno_grafica_tension p {
	text-align: center;
}

.diseno_grafica_tension p:nth-child(3) {
	text-align: justify;
	margin-top: 2rem;
}

.diseno_grafica_tension p:nth-child(4) {
	text-align: justify;
	margin-bottom: 1rem;
}

#boton_disenoT {
	width: 2.5rem;
}

.disenoT {
	margin: 1rem auto;
}

.disenoT th {
	padding: 0.2rem 0.2rem;
	text-align: center;
	background-color: var(--hospital-green);
}

.disenoT tbody tr:first-child {
	background-color: var(--hospital-green);
}

.disenoT td {
	padding: 0.2rem 0.2rem;
	text-align: center;
	width: 7.5rem;
}


/* 2 div */

#div2T p {
	width: 25rem;
	margin: 1rem auto 0;
	text-align: justify;
}

#div2T input {
	width: var(--ancho-estallido-1);
	height: 3.2rem;
	border-radius: 0.8rem;
	background-color: var(--text-input-field);
	border: none;
}

#div2T p:nth-child(5) {
	text-align: center;
}

#div2T p:nth-child(6) {
	width: 30rem;
}

#conductor_tension {
	margin-bottom: 1rem;
}

#grafica_tension_biaxial, #boton_borrar_disenoT {
	width: 2.5rem;
}


/***************** BIAXIAL *********************/

.seccion_biaxial > div {
	text-align: center;
	margin: 1rem auto 0;
	width: 97%;
	min-width: 31rem;
	max-width: 50rem;
	border: 0.3rem solid var(--hospital-green);
	border-radius: 0.8rem;
}

#div1CB {
	padding-bottom: 1rem;
}

#mostrar_ocultar_SCB {
	width: var(--ancho-menu);
	height: var(--alto-menu);
	text-transform: uppercase;
	border: 0.1rem solid var(--hospital-green);
	border-radius: 0.8rem;
	background-color: var(--hospital-green);
}

#mostrar_ocultar_SCB:active {
	background-color: var(--very-light-gray);
}

.tensionyesfuerzo {
	margin-left: auto;
	margin-right: auto;
}

.tensionyesfuerzo th {
	padding: 0.2rem 0.2rem;
	text-align: center;
	background-color: var(--hospital-green);
}

.tensionyesfuerzo tbody tr:first-child {
	background-color: var(--hospital-green);
}

.tensionyesfuerzo td {
	width: 6rem;
}

.tabla_valores_elipse {
	margin-left: auto;
	margin-right: auto;
}

.tabla_valores_elipse th {
	padding: 0.2rem 0.2rem;
	text-align: center;
	background-color: var(--hospital-green);
}

.tabla_valores_elipse tbody tr:first-child {
	background-color: var(--hospital-green);
}

.tabla_valores_elipse td {
	width: 8rem;
}

#elipse_plasticidad {
	display: none;
}

.porcentajesycorrecciones {
	margin-left: auto;
	margin-right: auto;
}

.porcentajesycorrecciones th {
	padding: 0.2rem 0.2rem;
	text-align: center;
	background-color: var(--hospital-green);
}

.porcentajesycorrecciones tbody tr:first-child {
	background-color: var(--hospital-green);
}

.porcentajesycorrecciones td {
	width: 6rem;
}

.relaciones_y {
	display: none;
}


/************ Factores de Diseño *************/


.seccion_FD > div {
	text-align: center;
	margin: 1rem auto 0;
	width: 97%;
	min-width: 31rem;
	max-width: 50rem;
	border: 0.3rem solid var(--hospital-green);
	border-radius: 0.8rem;
}

#mostrar_ocultar_SFD {
	width: var(--ancho-menu);
	height: var(--alto-menu);
	text-transform: uppercase;
	border: 0.1rem solid var(--hospital-green);
	border-radius: 0.8rem;
	background-color: var(--hospital-green);
}

#mostrar_ocultar_SFD:active {
	background-color: var(--very-light-gray);
}

.parrafo_FD {
	text-align: center;
}

#botonFD {
	width: 2.5rem;
}

.factoresDiseno {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
}

.factoresDiseno th {
	padding: 0.2rem 0.2rem;
	text-align: center;
	background-color: var(--hospital-green);
}

.factoresDiseno tbody tr:first-child {
	background-color: var(--hospital-green);
}

.factoresDiseno td {
	min-width: 5rem;
}

#obsup, #obfon {
	color:red;
	text-align: left;
}

/************** LINK DE DESCARGA *******************/
.link-descarga {
	text-align: center;
	margin-top: 2rem;
}

.link_informe {
	font-size: 1.2rem;
	display: block;
	height: 100%;
	text-decoration: none;
}

footer {
	width: 100%;
	height: 20rem;
	display: flex;
	margin-top: 5rem;
	background-color: var(--dark-blue);
	padding-bottom: 2rem;
	padding-top: 2rem;
}

footer p {
	margin-top: 0;
	line-height: 2rem;
	font-size: 1.2rem;
}

footer div, footer section {
	margin-top: 0;
}
  
.contact {
	visibility: hidden;
	position: absolute;
}
  
.contact-info {
	display: flex;
	align-items: center;
	width: 60%;
}
  
.personal-logo {
	width: 40%;
}
  
.contact-info h2 {
	color: var(--hospital-green);
	margin-left: 3rem;
	margin-top: 2rem;
}
  
.contact-info h2:first-child {
	margin-top: 0;
}
  
.contact-info p {
	margin-left: 3rem;
	color: var(--white);
}
  
.contact-info a {
	text-decoration: none;
	color: var(--white);
}
  
.personal-logo {
	display: flex;
	align-items: center;
	justify-content: center;
}
  
.personal-logo img {
	width: 10rem;
	height: 10rem;
}