* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

:root {
    --very-light-gray:#C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD982;
    --very-light-blue:#bad7f1;
    --dark-blue: #252C5A;
    --white: #FFFFFF;
    --black: #000000;
    --ss: 1.2rem;
    --sm: 1.4rem;
    --md: 1.5rem;
    --lg: 1.8rem;
}

/* Código para modificar el color de fondo del header, color de fuente y color de borde del menú desplegable */
/* my-header {
    --bckg-color: #bad7f1;
    --font-color: red;
} */

/* header {
    width: 100%;
    height: 6.2rem;
    display: flex;
    background-color: var(--dark-blue);
}

header > div {
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > div a {
    width: 14rem;
    height: 4.7rem;
}

header > div img {
    width: 100%;
    height: 100%;
}

header nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.container__icono-menu {
	position: relative;
	right: 0;
}

.bi-list {
	position: absolute;
	margin-top: 0;
	right: 0rem;
	top: -2rem;
	margin-right: 1rem;
}

.bi-list:hover {
	cursor: pointer;
}

.container__menu-principal, .container__icono-menu, .container__logo-personal {
	margin: 0;
}

nav #menu-desplegable {
    position: absolute;
	list-style: none;
    visibility: hidden;
	font-size: var(--sm);
	right: 0rem;
	top: -23rem;
	background-color: var(--dark-blue);
    border: 0.1rem solid var(--white);
	transition: 0.5s ease all;
}

.container__icono-menu:hover > #menu-desplegable {
	visibility: visible;
	top: -4rem;
}

nav #menu-desplegable li {
	line-height: 3rem;
	border: 0.05rem solid var(--white);
    display: block;
    width: 15rem;
}

nav #menu-desplegable li:last-child {
	margin-bottom: 0;
}

nav #menu-desplegable a {
	text-decoration: none;
	display: block;
	color: white;
	padding: 1rem;
}

nav #menu-desplegable a:active {
	background-color: white;
	color: var(--dark-blue);
}

nav #menu-principal {
	position: absolute;
	visibility: hidden;
    display: flex;
	right: 0;
    list-style: none;
}

nav #menu-principal a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
} */

main {
    width: 100%;
}

p, ul {
    font-size: var(--sm);
    line-height: 2rem;
}

.introduction {
    width: 100%;
    height: 18rem;
    display: flex;
    background-image: url(./imagenes/bg-header.png);
    background-repeat: no-repeat;
    background-size: 90% 80%;
}

.introduction-left {
    width: 60%;
    padding-left: 3rem;
    position: relative;
}

.introduction-left h1 {
    margin-top: 2rem;
    font-size: 2rem;
    font-family: 'Work Sans', sans-serif;
}

.introduction-left h2 {
    font-family: 'Nothing You Could Do', cursive;
    color: var(--hospital-green);
}

.introduction-left h2, .introduction-left p {
    width: 100%;
    margin-top: 1rem;
}

.introduction-left p:nth-child(3) {
    visibility: hidden;
    position: absolute;
}

.introduction-left button {
    color: var(--white);
    background-color: var(--dark-blue);
    border: 0.1rem solid var(--dark-blue);
    font-size: 1rem;
    height: 4rem;
    width: 15rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.introduction-left button:active {
    color: var(--dark-blue);
    background-color: var(--white);
}

.introduction-right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction-right img{
    width: 9.35rem;
    height: 11.5rem;
}

.personal-info {
    width: 100%;
    margin-top: 5rem;
}

.personal-info__left {
    text-align: center;
    width: 100%;
}

.personal-info__left img{
    width: 13rem;
    height: 11.6rem;
    margin-left: 3rem;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.personal-info__left h1 {
    font-size: 2.5rem;
}

.personal-info__left p {
    margin-top: 1rem;
    padding-left: 3rem;
}

.personal-info__left p, .personal-info__left h1 {
    text-align: left;
}

.personal-info__right h1{
    margin-left: 2rem;
    font-size: 2.5rem;
}

.personal-info__right p{
    padding: 1rem 3rem;
}

.personal-info__right {
    visibility: hidden;
    position: absolute;
}

.curriculum {
    width: 100%;
    margin-top: 5rem;
}

.curriculum-left, .curriculum-right {
    width: 100%;
}

.curriculum-left h1{
    margin-left: 3rem;
    font-size: 2.5rem;
}

.curriculum-left h2 {
    font-family: 'Nothing You Could Do', cursive;
    color: var(--hospital-green);
}

.curriculum-left h2, .curriculum-left p, .curriculum-left ul{
    margin-left: 3rem;
}

.curriculum-left ul li {
    margin-left: 2rem;
}

.curriculum-left h2, .curriculum-left ul {
    margin-top: 1rem;
}

.curriculum-right h1{
    font-size: 2.5rem;
    margin-left: 3rem;
    margin-top: 5rem;
}

.curriculum-right p {
    margin-left: 3rem;
    margin-top: 1rem;
}

footer {
    width: 100%;
    height: 20rem;
    display: flex;
    margin-top: 5rem;
    background-color: var(--dark-blue);
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.contact {
    visibility: hidden;
    position: absolute;
}

.contact-info {
    display: flex;
    align-items: center;
    width: 60%;
}

.personal-logo {
    width: 40%;
}

.contact-info h2 {
    color: var(--hospital-green);
    margin-left: 3rem;
    margin-top: 2rem;
}

.contact-info h2:first-child {
    margin-top: 0;
}

.contact-info p {
    margin-left: 3rem;
    color: var(--white);
}

.contact-info a {
    text-decoration: none;
    color: var(--white);
}

.personal-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.personal-logo img {
    width: 10rem;
    height: 10rem;
}
