body
{
  /*background-image: url("C:/Users/Kelly/Documents/MANUEL/PROGRAMACIÓN/EJERCICIOS PROPIOS/fondo1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;*/
  background: #252528;
  font-family: 'Arial Narrow', Verdana, Helvetica,'Times New Roman', Arial;
  
}

h1
{
  color: #ddd;
  font-family: 'Arial Narrow', Verdana, Helvetica,'Times New Roman', Arial;
  text-align: center;
  text-transform: uppercase;
}


#menu ul li ul /* Oculto los submenús */
{
  display:none;
  position: absolute;
  
}
.vertical li ul /* Hago que los submenús no estén atados a la posición de sus padres */
{
  position: relative;
}

.vertical_2 /* Coloco los submenús a la derecha de sus padres */
{
  left: 36.5rem;
  /*right: 0rem;*/
  top: 5rem;
}

.vertical_3 /* Coloco los submenús a la derecha de sus padres */
{
  left: 36.5rem;
  /*right: 8.5em;*/
  top: 19.05rem;
}


#menu ul li:hover > ul /* Hago aparecer los submenús cuando el mouse pasa encima de la opción correspondiente */
{
  display:block;
}



.vertical
{
  list-style: none; /* Quita las viñetas */
  line-height: 70px;
  margin: 0rem 10rem; /* El primer valor da un margen superior e inferior; y el segundo valor un margen izquierdo y derecho (auto centra todo el texto) */
  padding-left: 1rem;
  color: #ddd;
  text-transform: uppercase;
  outline: 1px solid red; /*Crea un borde que no ocupa espacio */
  width: 25rem;
}


.vertical_2
{
  list-style: none; /* Quita las viñetas */
  line-height: 70px;
  padding-left: 1rem;
  color: #ddd;
  text-transform: uppercase;
  outline: 1px solid red; /* Crea un borde que no ocupa espacio */
  width: 28rem;
}

.vertical_3
{
  list-style: none; /* Quita las viñetas */
  line-height: 70px;
  padding-left: 1rem;
  color: #ddd;
  text-transform: uppercase;
  outline: 1px solid red; /* Crea un borde que no ocupa espacio */
  width: 35rem;
}


.vertical a /* Esto se aplica a todos los enlaces que están dentro de la lista de clase "vertical" */
{
  color: #ddd;
  text-decoration: none; /* Quita el subrayado y el color */
  display: block; /* Declaro que el link funciona para un bloque y no solo para el texto */
  width: 100%; /* Declaro que el link funciona para todo el bloque */
  transition: all 0.4s; /* Agrega transición a la propiedad que posteriormente indique que cambiará con :hover */
}

.vertical li /* Esto se aplica a todos los elementos li que están dentro de la lista de clase "vertical" */
{
  /*outline: 1px solid green; /* Crea un borde que no ocupa espacio */
  /*border-left: 3px solid rgba(255, 255, 255, 0.2);*/ /* Dibuja una pequeña línea vertical a la izquierda */
  box-shadow: 0.1875rem 0 rgba(255, 255, 255, 0.2) inset; /* Dibuja una sombra en horizontal (primer valor) y vertical (segundo valor) */
  margin-bottom: 0.3125rem;
  padding-left: 1.5rem;
  transition: all 0.4s; /* Agrega transición a la propiedad que posteriormente indique que cambiará con :hover */
}

.vertical a:hover /* Hace que las letras de todos los enlaces se muevan 1em a la derecha cuando pasa el mouse por arriba */
{
  margin-left: 1rem
}


.lista:hover /* Hace que la box shadow que media 3px pase a medir 24em cuando pasa el mouse por arriba */
{
  box-shadow: 25rem 0 rgba(255, 255, 255, 0.2) inset;
}

.lista2:hover /* Hace que la box shadow que media 3px pase a medir 24em cuando pasa el mouse por arriba */
{
  box-shadow: 25rem 0 rgba(255, 255, 255, 0.2) inset;
}

.lista3:hover /* Hace que la box shadow que media 3px pase a medir 24em cuando pasa el mouse por arriba */
{
  box-shadow: 25rem 0 rgba(255, 255, 255, 0.2) inset;
}

.lista4:hover /* Hace que la box shadow que media 3px pase a medir 24em cuando pasa el mouse por arriba */
{
  box-shadow: 25rem 0 rgba(255, 255, 255, 0.2) inset;
}


.lista5:hover /* Hace que la box shadow que media 3px pase a medir 24em cuando pasa el mouse por arriba */
{
  box-shadow: 25rem 0 rgba(255, 255, 255, 0.2) inset;
}


.vertical_2 li:hover /* Hace que la box shadow que media 3px pase a medir 28em cuando pasa el mouse por arriba */
{
  box-shadow: 28rem 0 rgba(255, 255, 255, 0.2) inset;
}

.vertical_3 li:hover /* Hace que la box shadow que media 3px pase a medir 35em cuando pasa el mouse por arriba */
{
  box-shadow: 35rem 0 rgba(255, 255, 255, 0.2) inset;
}