/* header > .header-logo-container {
margin-left: 5rem;
}

nav #menu-principal {
    font-size: var(--md);
    margin-right: 10rem;
}

nav #menu-principal a:hover {
	color: var(--very-light-gray);
} */

p {
    font-size: 1.6rem;
}

.introduction {
    height: 40rem;
}

.introduction-left h2 {
    font-size: 2.5rem;
}

.introduction-left button {
    font-weight: 700;
}

.introduction-right img {
    width: 24.4rem;
    height: 30rem;
}

.personal-info {
    width: 100%;
    display: flex;
}

.personal-info__left {
    display: flex;
    align-items: center;
    padding-left: 8rem;
    justify-content: left;
}

.personal-info__left, .personal-info__right {
    width: 50%;
}

.personal-info__left p, .personal-info__left h1 {
    visibility: hidden;
    position: absolute;
}

.personal-info__left img{
    width: 30rem;
    height: 26.8rem;
}

.personal-info__right {
    visibility: visible;
    position: static;
}

.personal-info__right h1 {
    font-size: 3rem;
    margin-left: 3rem;
}

.curriculum {
    display: flex;
    width: 100%;
}

.curriculum-left, .curriculum-right {
    width: 50%;
}

.curriculum-left h1 {
    font-size: 3rem;
    margin-left: 8rem;
}

.curriculum-left h2 {
    font-size: 2.5rem;
}

.curriculum-left ul {
    font-size: 1.6rem;
}

.curriculum-left h2, .curriculum-left p, .curriculum-left ul{
    margin-left: 8rem;
}

.curriculum-right h1 {
    font-size: 2rem;
    margin-left: 3rem;
    margin-top: 10.6rem;
}

.curriculum-right p {
    margin-left: 3rem;
    margin-top: 3rem;
}

footer {
    height: 25rem;
}

.contact {
    visibility: visible;
    position: static;
    display: flex;
    align-items: center;
}

.contact, .contact-info, .personal-logo {
    width: 33.3%;
}

.contact h1 {
    font-size: 3rem;
    color: var(--white);
    margin-left: 8rem;
}

.contact p {
    margin-top: 1rem;
    color: var(--white);
    margin-left: 8rem;
}

.contact button {
    background-color: var(--hospital-green);
    border: 0.1rem solid  var(--hospital-green);
    color: var(--dark-blue);
    font-size: 1rem;
    font-weight: 900;
    height: 4rem;
    width: 15rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.contact button:active {
    background-color: var(--white);
}

.contact-info h2 {
    color: var(--hospital-green);
    margin-left: 12rem;
}

.contact-info p {
    margin-left: 12rem;
    color: var(--white);
}

.personal-logo img {
    width: 18rem;
    height: 18rem;
}