/* .container__icono-menu {
    display: none;
}

nav #menu-principal {
    position: static;
    justify-content: space-between;
    visibility: visible;
    align-items: center;
    margin-right: 3rem;
}

nav #menu-principal li{
	padding: 0.8rem;
} */

#menu-secundario {
	margin-right: 3rem;
}

.container-rev, .container-grafica {
    width: 65rem;
}

main h2 {
    width: 60rem;
}

.contact-info h2 {
    margin-left: 9rem;
}

.contact-info p {
    margin-left: 9rem;
}

.personal-logo img {
    width: 15rem;
    height: 15rem;
}